body {
    background-color: #BFD1E5;
    background-image: linear-gradient(#BFD1E5, #DD85DF)
}

.App {
    text-align: center;
    justify-content: center;
    align-items: center;
}

.App-header {
    font-family: Calibri;
    font-size: 20px;
    font-style: italic;
}

.Headings {
    font-family: Calibri;
    font-style: italic;
    color: #5E1CB3;
}

.Sub-Headings {
    font-family: Arial;
    font-style: italic;
    text-decoration: underline;
    
}

.Links {
    font-family: Calibri;
    font-style: italic;
}

.barChart {
    text-align: left;
    text-decoration: underline;
    font-style: normal;
}